

.body1{
  width:100%;
  margin: auto;
  font-family: sans-serif;
}
.left {
  float:left;
  background:#333;
  width:25%;
  height:1500px;
}
.right {
  float:left;
  background:#fff;
  width:74%;
  height:1500px;
}
.rcontent{
  padding-left: 40px;
}
.lcontent{
  text-align: center;
  padding-top: 10px;
  color:white;
}
img {
  border-radius: 50%;
}
.position{
  font-size: 16px;
  margin-top: -20px;
  padding-left: 5PX;
}
.h{
  height:1px;
  background-color: black;
}
.hh{
  height:1px;
  background-color: white;
  margin: 0 10px 0 10px;
}
.head{
  font-size:16px;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.con1{
  padding-top: 10px;
  width: 90%;
  height: auto;
  margin: auto;
}
.con1 .ll{
  float:left;
  width:15%;
}
.con1 .rr{
  float:left;
  width:85%;

}

.bar{
  width:98%;
  margin: auto;
  text-align: left;
  font-size: 12.5px;
  height: auto;
}
.progress {
  width: 46%;
  float: left;
  margin-left: 2.5%;
  margin-top: 14px;
  border-radius: 10px;
  text-align: left;
}
.ref{
  text-align: left;
  width: 90%;
  margin: auto;
}
